header {
    text-align: center;
    font-size: 150%;
    font-family: consolas;
    font-weight: bold;
}

footer {
    text-align: center;
    font-size: 25px;
}

a {
    font-size: 25px;
}
a:visited {
    color:red;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}