header {
    text-align: center;
    font-size: 30px;
    font-family: consolas;
}

footer {
    text-align: center;
    font-size: 25px;
}

a {
    font-size: 25px;
}

a:visited{
    color:red;
}
a:hover{
    font-weight: bold;
}
a:active{
    text-decoration: none;
    color: green;
}
